body{
    background-image: url("/assets/bg.png");
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: relative;
    bottom: 8px;
    padding-top: 25px;
    padding-bottom: 10px;

    
}
.line{
    height: 40px;
    width: 1px;
    background-color: #fff;
}

.list{
    display: flex;
    

}
.logo{
  
    height: 40px;
;
    position: relative;
    border: 10px;
}


.list-item{
color: white;
list-style-type: none;
margin: 0 25px;
font-size: 20px;

}

.hero{
    text-align: center;
    color: #ffffff;
    margin: 0 250px;
}

.hero-heading{
    font-size: 100px;
    
}
.hero-description{
    position: relative;
    bottom: 40px;
    font-size: 30px;
}

.button-large{
   background-color: rgb(185,14,196);
   border: none;
   color:#ffffff ;
   font-size: 30px;
   border-radius: 10px;
   padding: 20px 35px;
   font-weight: bold;
}
.button-small{
    background-color: rgb(185,14,196);
    border: none;
    color:#ffffff ;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
 }

 .list-item:first-child:after{
content:" ⌄"  ;

    margin-bottom: 50px;
    

 }